<h1>Hi, I'm a <%= @type %>.</h1>
<p>My name is <%= @name %> </p>

<h2>Here is some information</h2>
<ul>
    <li>Notes: <%= @product.notes %></li>
    <li>Size: <%= @product.size %></li>
    <li>fmin: <%= @product.fmin %></li>
    <li>fmax: <%= @product.fmax %></li>
    <li>Output: <%= @product.output %></li>
</ul>
